h1{
  margin-top: 0;
  margin-bottom: 50px;
}
body{
  margin:0;
  padding:0;
  background-color: 	#E5E4E2;
  font-family: 'Roboto', sans-serif;
  
}
.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
}
.appheading{
  background-color: #BBDCE5;
  padding:10px;
}
.subheading1{
}
.count{
  font-size: 25px;
  font-weight: bold;
}
.DecrementButton, .IncrementButton{
  margin:20px;
  padding:20px;
  font-size: 25px;
  border-radius: 10px;
}